{deps_dir, "deps"}.
{deps, [
  {lager, "2.0.0", {git,"git@github.com:basho/lager.git", "2.0.0"}},
  {covertool,".*", {
    git, "git@github.com:idubrov/covertool.git",
    "7063c88bdc5b7bbe705ff1759c9505350f0eccb0"
  }}
]}.

{sub_dirs, ["apps/jenkins_erlang_rebar_example"]}.
{erl_opts, [
  {parse_transform, lager_transform},
  warnings_as_errors,
  {lager_truncation_size, 8192}
]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
