{sys, [
  {lib_dirs, ["../apps", "../deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "jenkins_erlang_rebar_example", "1", [
    kernel,
    stdlib,
    sasl,
    compiler,
    syntax_tools,
    lager,
    jenkins_erlang_rebar_example
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib,
    sasl,
    compiler,
    syntax_tools,
    lager,
    jenkins_erlang_rebar_example
  ]},
  {boot_rel, "jenkins_erlang_rebar_example"},
  {profile, embedded},
  {incl_cond, exclude},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, [
    "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"
  ]},
  {excl_app_filters, ["\.gitignore"]},
  {app, sasl,   [{incl_cond, include}]},
  {app, stdlib, [{incl_cond, include}]},
  {app, kernel, [{incl_cond, include}]},
  {app, compiler, [{incl_cond, include}]},
  {app, syntax_tools, [{incl_cond, include}]},
  {app, lager, [{incl_cond, include}]},
  {app, jenkins_erlang_rebar_example, [{incl_cond, include}]}
]}.

{target_dir, "jenkins_erlang_rebar_example"}.
{overlay, [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "files/jenkins_erlang_rebar_example", "bin/jenkins_erlang_rebar_example"},
  {copy, "files/jenkins_erlang_rebar_example.cmd", "bin/jenkins_erlang_rebar_example.cmd"},
  {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
  {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
